<link rel="stylesheet" href="/public/stylesheets/styles.css" type="text/css"/>

<div>
<h2></h2>

<section>
         <img src="/images/beer.png" width="400px" height="600px" />
         </section> 
<section>
         <button>Cheek the Beers</button>
        
 </section>
 <section>
    <button>Cheek a Random Beer</button>
 </section>
       
    
</div>