<div>
<h2></h2>
<nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">BEERS</a></li>
            <li><a href="/random beer">Random BEER</a></li>
        </ul>
    </nav>
<section>
         <img src="/images/beer.png" width="400px" height="600px" />
         </section> 
<section>
         <button>Cheek the Beers</button>
        
 </section>
 <section>
    <button>Cheek a Random Beer</button>
 </section>
       
    
</div>