<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Jennifer Lopez</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css" />
  </head>
  <body>
    <h1>Jennifer Lopez</h1>
    <p>ARTIST</p>
    <img src="/public/images/jl_1.jpeg" />
 <ul>
  <li><a href="/">Back to Home</a></li>
  <li> <a href="/about">ABOUT Jennifer Lopes</a></li>
  <li> <a href="/works"> Jennifer Lopes works</a></li>
  <li><a href="http://en.wikipedia.org/wiki/Jennifer_Lopez"> wikipedia abot J Lo))</a></li>
 
 </ul>
  </body>
</html>