<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
    
    <link rel="stylesheet" href="/public/stylesheets/styles.css">
</head>

<body>

<nav  style=" background-color: #215475;">
    <div  >
        <div >
            <ul >
                <li >
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/beers">Beers</a>
                </li>
                <li>
                    <a href="/ranombeers">Random Beer</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    {{{body}}}

    <script src=></script>


</body>

</html>