.body{
    white: #f7f9f9;
   
    dark-blue: #0a2c42;
    grey: #bfbfbf;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    light-blue: #2081c3;
    display: flex;
   justify-content: space-between;
}

